In [17]:
import pandas as pd

## Ex 02

Скачаем и прочитаем CSV-файл, сделав столбец ID индексным

In [18]:
df = pd.read_csv('../data/auto.csv', index_col='ID')
df

        CarNumber    Make_n_model  Refund    Fines  History
ID
0    Y163O8161RUS      Ford Focus     2.0   3200.0      NaN
1     E432XX77RUS    Toyota Camry     1.0   6500.0      NaN
2     7184TT36RUS      Ford Focus     1.0   2100.0      NaN
3    X582HE161RUS      Ford Focus     2.0   2000.0      NaN
4    E34877152RUS      Ford Focus     2.0   6100.0      NaN
..            ...             ...     ...      ...      ...
926  Y163O8161RUS      Ford Focus     2.0   1600.0      NaN
927  M0309X197RUS      Ford Focus     1.0  22300.0      NaN
928  O673E8197RUS      Ford Focus     2.0    600.0      NaN
929  8610T8154RUS      Ford Focus     1.0   2000.0      NaN
930  H419XE197RUS  Toyota Corolla     2.0      NaN      2.0

[931 rows x 5 columns]

Подсчитаем количество наблюдений

In [19]:
df.count()

CarNumber       931
Make_n_model    931
Refund          914
Fines           869
History          82
dtype: int64

Удалим дубликаты, принимая во внимание только следующие столбцы: CarNumber, Make_n_Model и Fines
Из двух равных наблюдений выберем последнее.

In [20]:
df_without_duplicates = df.drop_duplicates(subset=['CarNumber', 'Make_n_model', 'Fines'], keep='last')
df_without_duplicates

        CarNumber    Make_n_model  Refund    Fines  History
ID
0    Y163O8161RUS      Ford Focus     2.0   3200.0      NaN
1     E432XX77RUS    Toyota Camry     1.0   6500.0      NaN
2     7184TT36RUS      Ford Focus     1.0   2100.0      NaN
3    X582HE161RUS      Ford Focus     2.0   2000.0      NaN
5    92918M178RUS      Ford Focus     1.0   5700.0      NaN
..            ...             ...     ...      ...      ...
926  Y163O8161RUS      Ford Focus     2.0   1600.0      NaN
927  M0309X197RUS      Ford Focus     1.0  22300.0      NaN
928  O673E8197RUS      Ford Focus     2.0    600.0      NaN
929  8610T8154RUS      Ford Focus     1.0   2000.0      NaN
930  H419XE197RUS  Toyota Corolla     2.0      NaN      2.0

[725 rows x 5 columns]

Проверим количество наблюдений еще раз

In [21]:
df_without_duplicates.count()

CarNumber       725
Make_n_model    725
Refund          713
Fines           665
History          65
dtype: int64

Проверим, сколько значений отсутствует в каждом столбце

In [22]:
df.isnull().sum()

CarNumber         0
Make_n_model      0
Refund           17
Fines            62
History         849
dtype: int64

In [23]:
df_without_duplicates.isnull().sum()

CarNumber         0
Make_n_model      0
Refund           12
Fines            60
History         660
dtype: int64

Отбросим все столбцы с отсутствующими значениями более 500, используя аргумент thresh = минимальное количество непропущенных значений для сохранения столбца

In [24]:
df_without_nan = df.dropna(axis=1, thresh=len(df)-500)
df_without_nan

        CarNumber    Make_n_model  Refund    Fines
ID
0    Y163O8161RUS      Ford Focus     2.0   3200.0
1     E432XX77RUS    Toyota Camry     1.0   6500.0
2     7184TT36RUS      Ford Focus     1.0   2100.0
3    X582HE161RUS      Ford Focus     2.0   2000.0
4    E34877152RUS      Ford Focus     2.0   6100.0
..            ...             ...     ...      ...
926  Y163O8161RUS      Ford Focus     2.0   1600.0
927  M0309X197RUS      Ford Focus     1.0  22300.0
928  O673E8197RUS      Ford Focus     2.0    600.0
929  8610T8154RUS      Ford Focus     1.0   2000.0
930  H419XE197RUS  Toyota Corolla     2.0      NaN

[931 rows x 4 columns]

Проверим, сколько недостающих значений в каждом столбце

In [25]:
df_without_nan.isnull().sum()

CarNumber        0
Make_n_model     0
Refund          17
Fines           62
dtype: int64

Заменим все пропущенные значения в столбце Refund на предыдущее значение в этом столбце для данной ячейки, а в столбце Fines на среднее значение этого столбца

In [26]:
df['Refund'] = df['Refund'].ffill()
df.isnull().sum()

CarNumber         0
Make_n_model      0
Refund            0
Fines            62
History         849
dtype: int64

In [27]:
df['Fines'] = df['Fines'].fillna(df['Fines'].mean())
df.isnull().sum()

CarNumber         0
Make_n_model      0
Refund            0
Fines             0
History         849
dtype: int64

Используем метод apply как для разделения, так и для извлечения значений в новые столбцы Make и Model, удалим столбец Make_n_Model

In [28]:
df['Make'] = df['Make_n_model'].apply(lambda x: (str(x)).split()[0])
df['Model'] = df['Make_n_model'].apply(lambda x: (str(x)).split()[1] if len((str(x)).split())>1 else None)
del df['Make_n_model']
df

        CarNumber  Refund         Fines  History    Make    Model
ID
0    Y163O8161RUS     2.0   3200.000000      NaN    Ford    Focus
1     E432XX77RUS     1.0   6500.000000      NaN  Toyota    Camry
2     7184TT36RUS     1.0   2100.000000      NaN    Ford    Focus
3    X582HE161RUS     2.0   2000.000000      NaN    Ford    Focus
4    E34877152RUS     2.0   6100.000000      NaN    Ford    Focus
..            ...     ...           ...      ...     ...      ...
926  Y163O8161RUS     2.0   1600.000000      NaN    Ford    Focus
927  M0309X197RUS     1.0  22300.000000      NaN    Ford    Focus
928  O673E8197RUS     2.0    600.000000      NaN    Ford    Focus
929  8610T8154RUS     1.0   2000.000000      NaN    Ford    Focus
930  H419XE197RUS     2.0   7860.989643      2.0  Toyota  Corolla

[931 rows x 6 columns]

Сохраниим полученный DataFrame в файл auto.json в формате JSON

In [13]:
df.to_json('auto.json', orient='records')