In [178]:
import pandas as pd

## Ex 00

Задача:
read_csv:
- Отфильтруйте строки с индексами 2 и 3, используя аргумент skiprows. Мы знаем, что эти наблюдения были фальшивыми.
- Отфильтруйте последние две строки из футера, используя аргумент skipfooter. Мы знаем, что эти наблюдения тоже были фальшивыми.
- Назначьте следующие имена колонкам: datetime, user.
- Используйте datetime как колонку индекса.
- Переименуйте datetime в date_time.

In [179]:
df = pd.read_csv('../data/feed-views.log', skiprows=[2, 3], skipfooter=2, names=['datetime', 'user'], index_col='datetime', sep='\t', engine='python')
df.index.name = 'date_time'
df

                                 user
date_time
2020-04-17 12:01:08.463179      artem
2020-04-17 12:01:23.743946      artem
2020-04-17 12:35:52.735016      artem
2020-04-17 12:36:21.401412     oksana
2020-04-17 12:36:22.023355     oksana
...                               ...
2020-05-21 16:36:40.915488  ekaterina
2020-05-21 17:49:36.429237      maxim
2020-05-21 18:45:20.441142  valentina
2020-05-21 23:03:06.457819      maxim
2020-05-21 23:23:49.995349      pavel

[1072 rows x 1 columns]

to_csv:

- Используйте ';' в качестве разделителя.
- Сохраните результат в файл с именем feed-views-semicolon.log.

In [180]:
df.to_csv(r'../data/feed-views-semicolon.log', sep = ';', index = True)