In [2]:
import pandas as pd

In [3]:
pd.set_option('mode.chained_assignment', None)

Загрузим JSON файл, который мы создали в предыдущем упражнении, в dataframe, установим столбец CarNumber в качестве индекса

In [15]:
df = pd.read_json('../ex02/auto.json', orient = 'CarNumber')
df

,CarNumber,Make_n_model,Refund,Fines,History,Make,Model
0,Y163O8161RUS,Ford Focus,2,3200.000000,NaN,Ford,Focus
1,E432XX77RUS,Toyota Camry,1,6500.000000,NaN,Toyota,Camry
2,7184TT36RUS,Ford Focus,1,2100.000000,NaN,Ford,Focus
3,X582HE161RUS,Ford Focus,2,2000.000000,NaN,Ford,Focus
4,E34877152RUS,Ford Focus,2,6100.000000,NaN,Ford,Focus
...,...,...,...,...,...,...,...
926,Y163O8161RUS,Ford Focus,2,1600.000000,NaN,Ford,Focus
927,M0309X197RUS,Ford Focus,1,22300.000000,NaN,Ford,Focus
928,O673E8197RUS,Ford Focus,2,600.000000,NaN,Ford,Focus
929,8610T8154RUS,Ford Focus,1,2000.000000,NaN,Ford,Focus
930,H419XE197RUS,Toyota Corolla,2,7860.989643,2.0,Toyota,Corolla

Отобразим строки, в которых штрафы больше 2100

In [18]:
df = df[df['Fines']>2100]
df

,CarNumber,Make_n_model,Refund,Fines,History,Make,Model
0,Y163O8161RUS,Ford Focus,2,3200.000000,NaN,Ford,Focus
4,E34877152RUS,Ford Focus,2,6100.000000,NaN,Ford,Focus
10,H234YH197RUS,Ford Focus,2,6000.000000,NaN,Ford,Focus
12,707987163RUS,Ford Focus,2,2200.000000,NaN,Ford,Focus
13,K330T8197RUS,Skoda Octavia,2,8200.000000,NaN,Skoda,Octavia
...,...,...,...,...,...,...,...
921,O136HO197RUS,Toyota Corolla,2,7800.000000,NaN,Toyota,Corolla
922,O68897197RUS,Ford Focus,2,12300.000000,NaN,Ford,Focus
923,O718MM163RUS,Ford Focus,2,7860.989643,NaN,Ford,Focus
924,7065C8197RUS,Volkswagen Passat,2,11400.000000,NaN,Volkswagen,Passat
930,H419XE197RUS,Toyota Corolla,2,7860.989643,2.0,Toyota,Corolla

Отобразим строки, в которых штрафы превышают 2100, а возврат равен 2

In [20]:
df = df[(df['Fines']>2100) & (df['Refund'] == 2)]
df

,CarNumber,Make_n_model,Refund,Fines,History,Make,Model
0,Y163O8161RUS,Ford Focus,2,3200.000000,NaN,Ford,Focus
4,E34877152RUS,Ford Focus,2,6100.000000,NaN,Ford,Focus
10,H234YH197RUS,Ford Focus,2,6000.000000,NaN,Ford,Focus
12,707987163RUS,Ford Focus,2,2200.000000,NaN,Ford,Focus
13,K330T8197RUS,Skoda Octavia,2,8200.000000,NaN,Skoda,Octavia
...,...,...,...,...,...,...,...
921,O136HO197RUS,Toyota Corolla,2,7800.000000,NaN,Toyota,Corolla
922,O68897197RUS,Ford Focus,2,12300.000000,NaN,Ford,Focus
923,O718MM163RUS,Ford Focus,2,7860.989643,NaN,Ford,Focus
924,7065C8197RUS,Volkswagen Passat,2,11400.000000,NaN,Volkswagen,Passat
930,H419XE197RUS,Toyota Corolla,2,7860.989643,2.0,Toyota,Corolla

Отобразим строки, в которых находятся модели из списка: ['Focus', 'Corolla']

In [25]:
df = df[(df['Model']=='Focus') | (df['Model']=='Corolla')]
df


df.groupby(['Make', 'Model']).agg('Fines').count()

Make  Model
Ford  Focus    9
Name: Fines, dtype: int64

Отобразите строки, где номер автомобиля из списка: ['Y7689C197RUS', '92928M178RUS', '7788KT197RUS', 'H115YO163RUS', 'X758HY197RUS']

In [23]:
df  = df[df['CarNumber'].isin(['Y7689C197RUS', '92928M178RUS', '7788KT197RUS', 'H115YO163RUS', 'X758HY197RUS'])]
df
df.groupby(['Make', 'Model']).agg('Fines').count()

Make  Model
Ford  Focus    9
Name: Fines, dtype: int64

Отобразим медианные штрафы, сгруппирные по маке

In [24]:
grouped_make = df.groupby('Make').count()
aggregated = grouped_make.agg({'Fines': 'mean'})
aggregated

Fines    9.0
dtype: float64

Отобразим медианные штрафы, сгруппированные по марке и модели

In [ ]:
grouped_make_model = df.groupby('Make_n_model')
aggregated = grouped_make_model.agg({'Fines': 'mean'})
aggregated

Отобразим количество штрафов, сгруппированных по марке и модели, чтобы понять, можем ли мы доверять медианным значениям

In [ ]:
aggregated_1 = grouped_make.agg({'Fines': 'count'})
aggregated_2 = grouped_make_model.agg({'Fines': 'count'})
aggregated_1, aggregated_2

Отобразим минимальные и максимальные штрафы, сгруппированные по марке и модели, чтобы лучше понять отклонение

In [ ]:
min_fines = grouped_make_model['Fines'].min()
print("Минимальные штрафы:")
print(min_fines)
 
max_fines = grouped_make_model['Fines'].max()
print("\nМаксимальные штрафы:")
print(max_fines)

Отобразим стандартное отклонение (полученные данные отражают разброс сумм штрафов для разных марок и моделей автомобилей)

In [ ]:
std_deviation = grouped_make_model['Fines'].std()
std_deviation

Отобразим дисперсию

In [ ]:
variance = grouped_make_model['Fines'].var()
variance

Отобразим номера автомобилей, сгруппированные по количеству штрафов в порядке убывания. Найдем тех, кто чаще всего нарушал закон.

In [ ]:
fines_by_car_number = df.groupby('CarNumber')['Fines'].count().sort_values(ascending=False)
fines_by_car_number

Выберем из исходного DataFrame все строки, соответствующие автомобилю с номером №1 (топ-1). Мы хотим изучить его подробнее.

In [ ]:
df[(df['CarNumber'].isin(fines_by_car_number.head(6).index))]

Отобразим номера автомобилей, сгруппированные по сумме штрафов в порядке убывания. Найдем тех, кто заплатил больше всего.

In [ ]:
car_number = df.groupby('CarNumber')['Fines'].sum().sort_values(ascending=False)
car_number

Выберем все строки, соответствующие автомобилю с номером №1 (топ-1) из исходного DataFrame, изучим его подробнее.

In [ ]:
df[(df['CarNumber'] == 'M0279X197RUS')]

Отобразим таблицу, которая отвечает на вопрос: «Есть ли номера автомобилей, которые связаны с разными моделями?»

In [ ]:
df.groupby('CarNumber')['Make_n_model'].nunique()